body {
  background-color: #5b6366;
}

input[type="text"],
input[type="password"] {
  -webkit-appearance:none;
}

#address {
  font-size: 0.9em;
}

#balance-container,
#button-container {
  background-color: #2ecc71;
  color: white;
}

#balance-container h2 {
  font-weight: lighter;
}

#button-container {
  font-weight: lighter;
  font-size: 1.2em;
}

#button-container a {
  color: #c7ffde;
  padding: 0 5px;
}

#button-container a:hover {
  color: white;
}

#send,
#confirmation,
#settings,
#receive,
#sweep,
#sweep-confirm {
  padding-top: 10px;
  padding-bottom: 10px;
}

#send hr,
#confirmation hr,
#settings hr,
#receive hr,
#sweep hr,
#sweep-confirm hr {
  margin: 10px auto;
}

#sweep-confirm .spinner {
  margin: 15px;
}

#qrcode img {
  margin: 0 auto;
}

.content {
  margin-top: 5px;
  background-color: white;
  padding: 5px;
}

.transaction {
  background-color: white;
}

.transaction .date {
  font-size: 1.3em;
}

.transaction span.value {
  font-size: 1.5em;
  line-height: 2.4;
}

.transaction-credit span.value {
  color: #2ecc71;
}

.transaction-credit span.value:before {
  content: "+ ";
}

.transaction-debit span.value:before {
  content: "- ";
}

.transaction .confirmations {
  display: none;
}

.transaction-unconfirmed span.value,
.transaction-unconfirmed .confirmations {
  color: rgb(240, 173, 78);
}

.transaction-unconfirmed .confirmations {
  display: block;
  font-size: 0.7em;
  position: absolute;
  top: 34px;
  right: 6px;
}

.transaction table {
  margin-bottom: 0;
}

.transaction td hr {
  margin: 5px 0;
}

#balance:hover,
.transaction-preview:hover {
  cursor: pointer;
}

.page-header {
  margin-top: 0;
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.progress {
  margin-bottom: 5px;
}

.no-label {
  padding-top: 25px;
}

.nowrap {
  white-space: nowrap;
}

.input-group-addon {
  padding: 6px 8px;
}

footer {
  margin-top: 10px;
}

footer,
footer a,
footer a:hover {
  color: #333;
}

@keyframes spin {
	to { transform: rotate(1turn); }
}

@-webkit-keyframes spin {
	to { -webkit-transform: rotate(1turn); }
}

.spinner {
	position: relative;
	display: inline-block;
	width: 5em;
	height: 5em;
	margin: 0;
	font-size: 12px;
	text-indent: 999em;
	overflow: hidden;
	animation: spin 1s infinite steps(8);
  -webkit-animation: spin 1s infinite steps(8);
}

.small.spinner {
	font-size: 6px;
}

.large.spinner {
	font-size: 24px;
}

.spinner:before,
.spinner:after,
.spinner > div:before,
.spinner > div:after {
	content: '';
	position: absolute;
	top: 0;
	left: 2.25em; /* (container width - part width)/2  */
	width: .5em;
	height: 1.5em;
	border-radius: .2em;
	background: #eee;
	box-shadow: 0 3.5em #eee; /* container height - part height */
	transform-origin: 50% 2.5em; /* container height / 2 */
	-webkit-transform-origin: 50% 2.5em; /* container height / 2 */
}

.spinner:before {
	background: #555;
}

.spinner:after {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	background: #777;
}

.spinner > div:before {
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	background: #999;
}

.spinner > div:after {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	background: #bbb;
}
