body {
  background-color: #5b6366;
}

input[type="text"],
input[type="password"] {
  -webkit-appearance:none;
}

#address {
  font-size: 0.9em;
}

#balance-container,
#button-container {
  background-color: #2ecc71;
  color: white;
}

#balance-container h2 {
  font-weight: lighter;
}

#button-container {
  font-weight: lighter;
  font-size: 1.2em;
}

#button-container a {
  color: #c7ffde;
  padding: 0 5px;
}

#button-container a:hover {
  color: white;
}

#send, #confirmation, #settings, #receive {
  padding-top: 10px;
  padding-bottom: 10px;
}

#send hr, #confirmation hr {
  margin: 10px auto;
}

#qrcode img {
  margin: 0 auto;
}

.content {
  margin-top: 5px;
  background-color: white;
  padding: 5px;
}

.transaction {
  background-color: white;
}

.transaction .date {
  font-size: 1.3em;
}

.transaction span.value {
  font-size: 1.5em;
  line-height: 2.4;
}

.transaction-credit span.value {
  color: #2ecc71;
}

.transaction-credit span.value:before {
  content: "+ ";
}

.transaction-debit span.value:before {
  content: "- ";
}

.transaction .confirmations {
  display: none;
}

.transaction-unconfirmed span.value,
.transaction-unconfirmed .confirmations {
  color: rgb(240, 173, 78);
}

.transaction-unconfirmed .confirmations {
  display: block;
  font-size: 0.7em;
  position: absolute;
  top: 34px;
  right: 6px;
}

.transaction table {
  margin-bottom: 0;
}

.transaction td hr {
  margin: 5px 0;
}

#balance:hover,
.transaction-preview:hover {
  cursor: pointer;
}

.page-header {
  margin-top: 0;
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.progress {
  margin-bottom: 5px;
}

.no-label {
  padding-top: 25px;
}

footer {
  margin-top: 10px;
}

footer,
footer a,
footer a:hover {
  color: #333;
}
